/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin & padding*/
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ----------------------------------------------------------------- */

/* VARIABLES */

:root {
    /* Colors */
    --color-base-dark: hsla(240, 76%, 10%, 100%);
    --color-base-middle: hsla(0, 0%, 75%, 100%);
    --color-base-bright: hsla(0, 0%, 100%, 100%);
    --accent-gradient: linear-gradient(90deg, hsla(180, 96%, 56%, 100%), hsla(193, 99%, 35%, 100%));
    --accent-bright: hsla(180, 96%, 56%, 100%);
    --accent-dark: hsla(187, 100%, 45%, 100%);

    /* Typography */
    --anchor-font: "Exo 2", sans-serif;
    --secondary-font: "Manrope", sans-serif;
}

/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

/* Typography */

h1 {
    font-family: var(--anchor-font);
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--color-base-bright);

    line-height: 0.9;
}

h2 {
    font-family: var(--anchor-font);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-base-bright);
}

h3 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-base-bright);
}

h4 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-base-bright);
}

h5 {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-base-bright);
}

h6 {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-base-bright);
}

p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-base-bright);
}

span {
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-base-bright);
}

a {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--color-base-bright);

  cursor: pointer;
  text-decoration: none;

  display: inline-block;
  transition: all 0.75s ease;
}

a:hover {
  color: var(--accent-bright);
  transform: translateY(-0.1rem);
}

a:active {
  transition: all 0.05s;

  filter: brightness(0.9);
}

button {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--color-base-bright);

    cursor: pointer;
}

ul, ol, li {
  font-family: var(--anchor-font);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-base-bright);
}

label {
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-base-bright);
}

input, textarea {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--color-base-bright);
}

/* Buttons */

.button-primary {
  position: relative;
  overflow: hidden;
  border: none;

  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  background: var(--accent-gradient);

  transition: all 0.75s ease;
}

.button-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  padding: 0.125rem;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 100%), hsla(0, 0%, 100%, 25%), hsla(0, 0%, 100%, 0%));
  background-size: 100% 100%;

  transition: background-size 0.75s ease;

  -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
  mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.button-primary:hover {
  filter: brightness(1.1);
  transform: translateY(-0.1rem);

  color: var(--color-base-bright);
}

.button-primary:hover::before {
  background-size: 500% 500%;
}

.button-primary:active {
  transition: all 0.05s;

  filter: brightness(0.9);
}

.button-secondary {
  position: relative;
  overflow: hidden;
  border: none;
  background: transparent;

  padding: 0.5rem 2.5rem;
  border-radius: 1rem;

  transition: all 0.75s ease;
}

.button-secondary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  padding: 0.125rem;
  background: var(--accent-gradient);

  transition: background-size 0.75s ease;

  -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
  mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.button-secondary::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: var(--accent-gradient);

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 0.75s ease;

  z-index: -1;
}

.button-secondary:hover {
  filter: brightness(1.1);
  transform: translateY(-0.1rem);

  color: var(--color-base-bright);
}

.button-secondary:hover:after {
  transform: scaleX(1);
}

.button-secondary:active {
  transition: all 0.05s;

  filter: brightness(0.9);
}

/* Design Elements */

.hanger-vertical {
  border-radius: 999rem 999rem 999rem 999rem;

  background:
    linear-gradient(
        to right,
        hsla(0, 0%, 100%, 0.08) 0%,
        hsla(0, 0%, 100%, 0.45) 20%,
        hsla(0, 0%, 100%, 0.12) 45%,
        hsla(0, 0%, 100%, 0.3) 70%,
        hsla(0, 0%, 100%, 0.08) 100%
    ),
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.2),
      hsla(0, 0%, 25%, 0.2)
    );
    

  backdrop-filter: blur(12px);

  box-shadow:
    inset 0 0 0.25rem hsla(0, 0%, 100%, 0.35),
    inset -0.15rem 0 0.3rem hsla(0, 0%, 100%, 0.15),
    0.25rem 0.25rem 1.5rem hsla(0, 0%, 100%, 0.2);

  transform:
    translateZ(40px)
    rotateY(-8deg);

  opacity: 0.9;
}

.hanger-vertical::before {
  content: "";

  position: absolute;
  top: 0;
  left: 18%;

  width: 18%;
  height: 100%;

  border-radius: inherit;

  background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 0.4),
      hsla(0, 0%, 100%, 0.05)
    );

  filter: blur(1px);
}

.hanger-horizontal {
  border-radius: 999rem 999rem 999rem 999rem;

  background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 0.08) 0%,
      hsla(0, 0%, 100%, 0.45) 20%,
      hsla(0, 0%, 100%, 0.12) 45%,
      hsla(0, 0%, 100%, 0.3) 70%,
      hsla(0, 0%, 100%, 0.08) 100%
    ),
    linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.2),
      hsla(0, 0%, 25%, 0.2)
    );

  backdrop-filter: blur(12px);

  box-shadow:
    inset 0 0 0.25rem hsla(0, 0%, 100%, 0.35),
    inset 0 -0.15rem 0.3rem hsla(0, 0%, 100%, 0.15),
    0.25rem 0.25rem 1.5rem hsla(0, 0%, 100%, 0.2);

  transform:
    translateZ(40px)
    rotateX(8deg);

  opacity: 0.9;
}

.hanger-horizontal::before {
  content: "";

  position: absolute;
  top: 18%;
  left: 0;

  width: 100%;
  height: 18%;

  border-radius: inherit;

  background:
    linear-gradient(
      to right,
      hsla(0, 0%, 100%, 0.4),
      hsla(0, 0%, 100%, 0.05)
    );

  filter: blur(1px);
}

.glass-container {
  position: relative;
  overflow: visible;

  border-radius: 2rem;

  background-color: hsla(0, 0%, 100%, 0.08);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow: 
    0 4px 8px hsla(0, 0%, 0%, 0.15),
    0 12px 32px hsla(0, 0%, 0%, 0.25),
    inset 0 1px hsla(0, 0%, 100%, 0.1);
}

.glass-container::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;

  border-radius: inherit;

  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.05)
  );

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

/* GENERAL DESIGN */

body {
  padding: 10dvh 4rem;

  background:
    radial-gradient(circle at top left, var(--accent-dark), transparent 40%),
    radial-gradient(circle at bottom right, var(--accent-bright), transparent 40%),
    var(--color-base-dark);
  background-attachment: fixed;
}

.body-container {
  max-width: 90rem;

  margin: auto;
}

/* HEADER */

header {
  position: absolute !important;
  top: 0;
  left: 0;

  width: 100%;
  padding: 0.5rem 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 2.5rem;
  min-width: 18rem;
  width: min(50%, 55rem);
  max-width: 60%;
  flex: 0 1 auto;
}

.navbar {
  list-style: none;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.menu-toggle {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;

  display: none;
}

/* SECTIONS */

section {
  width: 100%;
  padding: 4rem 5%;

  margin-bottom: 6rem;
}

/* Hero */

.hero {
  height: 90svh;
  max-height: 50rem;

  padding-top: 6rem;
  padding-bottom: 2rem;
}

.hero-content {
  max-width: 60%;
  height: 100%;

  margin-left: auto;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.hero-headlines {
  text-align: right;
}

.hero-headlines h1 {
  font-size: clamp(2rem, 4.5dvw, 4.5rem);
  line-height: 1.1;

  margin-bottom: 2rem;
}

.hero-cta {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.hero-design {
  position: fixed;
  top: -10dvh;
  left: 0;
  margin-left: 5%;
  
  width: 33%;
  height: 100svh;
  max-height: 55rem;

  max-width: 35rem;

  display: flex;
  justify-content: space-between;
  gap: 2rem;

  align-items: flex-start;
}

.hero-column {
  flex: 1 1 2rem;

  max-width: 7.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-1 {
  height: 60%;
}

.column-2 {
  height: 90%;
}

.column-3 {
  height: 70%;
}

.hero-column .hanger-vertical {
  flex: 1;

  width: 0.8rem;

  border-radius: 0 0 999rem 999rem;
}

.hero-item {
  position: relative;

  width: 100%;
  aspect-ratio: 1 / 1;

  margin-top: 1rem;
}

.hero-svg {
  height: 100%;
  width: auto;

  color: var(--accent-bright);
}

.hero-svg-main {
  stroke-width: 1.2;

  fill: none;

  filter: 
    drop-shadow(0 0 1px hsla(180, 100%, 75%, 0.2))
    drop-shadow(0 0 2px hsla(185, 100%, 35%, 0.1));
}

.column-1 .hero-svg-main {
  stroke: url(#iconGradient-1);
}

.column-2 .hero-svg-main {
  stroke: url(#iconGradient-2);
}

.column-3 .hero-svg-main {
  stroke: url(#iconGradient-3);
}

.hero-svg-shadow {
  stroke: hsla(0, 0%, 0%, 1);

  stroke-width: 1.2;
  
  transform: translate(0.0625rem, 0.0625rem);

  filter: blur(1px);

  fill: none;
}

.hero-svg-highlight {
  stroke: hsla(0, 0%, 100%, 0.5);

  filter: blur(0.2px);

  stroke-width: 0.75;

  transform: translate(-0.02rem, -0.02rem);

  fill: none;
}

.item-tooltip {
  opacity: 0;

  position: absolute;
  bottom: 2rem;
  left: 5rem;

  width: max-content;

  padding: 1rem;

  border-radius: 1rem;
  border: 1px solid hsla(0, 0%, 100%, 0.8);

  background-color: hsla(0, 0%, 0%, 0.8);

  transition: opacity 0.5s ease-out;
}

.item-tooltip p {
  font-family: monospace;
}

/* Hero Animations */

.column-1 {
  animation: float 4s ease-in-out infinite;

  z-index: 3;
}

.column-2 {
  animation: float 5s ease-in-out infinite;

  z-index: 2;
}

.column-3 {
  animation: float 3s ease-in-out infinite;

  z-index: 1;
}

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }

}

.hero-column:has(.hero-item:hover) {
  animation-play-state: paused;

  z-index: 100;
}

.hero-item svg {
  transition: transform 1s ease;
}

.hero-item:hover svg {
  transform:
    rotate3d(-2, 1.5, 0, 60deg)
    translate(-3rem, -3rem);
}

.hero-item:hover .item-tooltip {
  opacity: 1;

  transition: 1s ease 0.2s;
}

/* Problems */

.problems-headlines {
  margin-bottom: 2rem;
}

.problems-list {
  display: flex;
  flex-flow: column wrap;

  justify-content: space-between;
  gap: 2rem;

  margin-left: 4rem;
}

.problem {
  flex: 1 1 0;

  padding: 2rem;

  width: 100%;
}

.problem .hanger-horizontal {
  position: absolute;

  top: calc(50% - 0.4rem);
  left: -30lvw;

  width: calc(30lvw - 4rem);
  height: 0.8rem;

  border-radius: 0 999rem 999rem 0;
}

/* Services */

.services {
  position: relative;

  border-radius: 2rem;

  overflow: hidden;

  width: 100%;
  aspect-ratio: 16/9;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;
}

.services::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;

  border-radius: inherit;

  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.35),
    hsla(0, 0%, 100%, 0.05)
  );

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

.bg-slide {
  position: absolute;
  inset: 0;

  z-index: -1;

  background-size: cover;

  transition: transform 1s ease;
}

.previous {
  opacity: 1 !important;
}

.active {
  transform: translateX(0);

  opacity: 1;
}

.exit-left {
  transform: translateX(-100%);
  opacity: 0;
}

.exit-right {
  transform: translateX(100%);
  opacity: 0;
}

.service-1 {
  background-image: url(../images/services/website-erstellen-quer.png);
}

.service-2 {
  background-image: url(../images/services/website-ueberarbeiten-quer.png);
}

.service-3 {
  background: red;
}

.service-4 {
  background: green;
}

.bg-overlay {
  position: absolute;

  inset: 0;

  z-index: -1;

  background:
    linear-gradient(
      135deg,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 100%, 0.05)
    );
}

.services-content {
  padding: 2rem;

  width: 30rem;
}

.services-title {
  line-height: 1;

  margin-bottom: 1rem;
}

.services-buttons {
  width: 10rem;
  padding: 1rem;
  
  display: flex;
  justify-content: space-between;
}

.services-buttons button {
  border: none;
  background: none;

  padding: 0 0.5rem;

  opacity: 0.5;

  transition: opacity 0.2s ease;
}

.services-buttons button:hover {
  opacity: 1;
}

.current-service {
  opacity: 1 !important;

  transform: scale(1.3);
}

/* References */

.references {
  border: 1px solid white;
  height: 30rem;
}

.references h2 {
  width: fit-content;
  margin: auto;

  font-size: 5dvw;
  font-weight: 300;
  font-style: italic;
}

.references h3 {
  width: fit-content;
  margin: auto;

  font-size: 2.5dvw;
  font-weight: 200;
  font-style: italic;
}

/* About */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: clamp(2rem, 6vw, 8rem);

  border-left: 1rem solid hsla(0, 0%, 100%, 1);
  width: 95%;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5%
}

.about-content {
  flex: 1;
  min-width: 0;
}

.about-text {
  margin-bottom: 4rem;
}

.about-text p {
  text-align: justify;
  hyphens: auto;
  text-align-last: left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

.portrait {
    width: clamp(260px, 28vw, 420px);
    height: auto;

    border-radius: 2rem;

    flex-shrink: 0;

    box-shadow: 
      0 4px 8px hsla(0, 0%, 0%, 0.15),
      0 12px 32px hsla(0, 0%, 0%, 0.25),
      inset 0 1px hsla(0, 0%, 100%, 0.1);
}

/* Contact */

.contact-headlines {
  margin-bottom: 2rem;
}

.form-inputs {
  display: grid;

  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, 3rem);

  grid-template-areas: 
    "name message"
    "email message"
    "subject message";

  gap: 1rem;

  margin-bottom: 2rem;
}

.form-name {
  grid-area: "name";
}

.form-email {
  grid-area: "email";
}

.form-subject {
  grid-area: "subject";
}

.form-message {
  grid-area: message;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field input, .input-field textarea {
  flex: 1;
}

label {
  display: block;
}

input, textarea {
  border: 1px solid var(--accent-bright);
  border-radius: 0.5rem;

  background: transparent;

  width: 100%;
}

input:focus, textarea:focus {
  outline: 1.5px solid var(--accent-bright);
}

/* FOOTER */

footer {
  width: 100%;
  padding: 4rem 2rem;

  display: flex;

  justify-content: space-between;
  align-items: center;
}

.footer-info h2 {
  font-size: clamp(1.5rem, 2dvw, 2rem);
}

.footer-info h3 {
  font-size: clamp(1rem, 1.5dvw, 1.5rem);
  font-weight: 500;
}

.footer-nav ul, .footer-legal ul {
  list-style: none;
}